@import "tailwindcss";

@layer utilities {
  .font-arimo {
    font-family: "Arimo", sans-serif;
  }
}

:root {
  --nav-color: #009966;
  --hero-color: #009966;
  --btn-color: #009966;
  --text-color: #004f3b;
}
